.EditButtonSection {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

.owner {
  margin-top: -60px !important;
  text-align: center;
}

.btnEditSave {
  background-color: white !important;
  color: #66615b !important;
  border: 2px solid #66615b;
}

.btnEditSave:hover,
.btnEditSave:active {
  background-color: #66615b !important;
  color: white !important;
  border: 2px solid #66615b;
}
