@import "./base/base";
@import "../views/RegistrationPage/registrationStyle";
@import "../views/ErrorPages/404ErrorPage/notFoundStyle";
@import "../views/ProductPage/productPage";
@import "../views/ProductPage/TitleSection/productTitle";
@import "../views//ProductPage/FeatureSection/featureSection";
@import "../views/ProfilePage/MainSection/mainSection";
@import "../views/ProfilePage/ContactSection/contactSection";
@import "../views/LoadingPage/loadingPage";
@import "../views/ProfilePage/ProfilePage.scss";
@import "../views//ProfilePage//imageModal/imageModal";
@import "../views/ProfilRegistrationVerification/FillDataForm/fillDataForm";
@import "../views/CheckoutPage/checkout";
$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
