.form-submit {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
    background-image: linear-gradient(to left, #74ebd5, #9face6); }

    
.form-group {
    overflow: hidden;
    margin-bottom: 20px; }
  
.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222; }
    .form-input::-webkit-input-placeholder {
        color: #999; }
    .form-input::-moz-placeholder {
        color: #999; }
    .form-input:-ms-input-placeholder {
        color: #999; }
    .form-input:-moz-placeholder {
        color: #999; }
    .form-input::-webkit-input-placeholder {
        font-weight: 500; }
    .form-input::-moz-placeholder {
        font-weight: 500; }
    .form-input:-ms-input-placeholder {
        font-weight: 500; }
    .form-input:-moz-placeholder {
        font-weight: 500; }
    .form-input:focus {
        border: 1px solid transparent;
        -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
        -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
        -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
        border-image-source: linear-gradient(to right, #9face6, #74ebd5);
        -webkit-border-image-slice: 1;
        border-image-slice: 1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        background-origin: border-box;
        background-clip: content-box, border-box; }
        .form-input:focus::-webkit-input-placeholder {
        color: #222; }
        .form-input:focus::-moz-placeholder {
        color: #222; }
        .form-input:focus:-ms-input-placeholder {
        color: #222; }
        .form-input:focus:-moz-placeholder {
        color: #222; } 

.card-register {
    background-color: #fff!important;
    border-radius: 8px;
    color: #222!important;
    max-width: 500px!important;
    margin: 10px 0 70px!important;
    min-height: 400px;
    padding: 30px;
}
//Iphone 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .card-register {
        margin: 85px 0 70px!important;
    }
}

.page-header .title, .page-header .info-title, .carousel-caption .title, .carousel-caption .info-title {
    color:  #222!important;
}