.page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.05)!important;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

body {
    color: #050505!important;
    font-size: 14px;
    font-weight: 300;
}   